<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Delícia - Página Principal</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header>
        <h1>Pizzaria Bonaiute</h1>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/cardapio">Cardápio</a></li>
                <li><a href="/pedido">Pedido</a></li>
                <li><a href="/local">Localização</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Bem-vindo à Pizzaria Bonaiute!</h2>
            <p>As melhores pizzas da cidade, feitas com amor e ingredientes frescos.</p>
        </section>

        <section class="introduction">
            <h2>Sobre Nós</h2>
            <p>Na Pizzaria Bonaiute, nossa paixão é servir pizzas deliciosas com ingredientes de alta qualidade.</p>
            <p>Explore nosso cardápio, faça um pedido, encontre nossa localização ou cadastre-se para receber nossas
                ofertas.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Pizzaria Bonaiute - Todos os direitos reservados.</p>
    </footer>
</body>

</html>