<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Delícia - Página Principal</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header>
        <h1>Pizzaria Bonaiute</h1>
    </header>

    <main>
        <section class="hero">
            <img class="logo" src="../img/BonaiuteLogo.png" alt="">
            <h2>Bem-vindo à Pizzaria Bonaiute!</h2>
            <p>As melhores pizzas da cidade, feitas com amor e ingredientes frescos.</p>
        </section>
        
        <a class="botao" href="/cardapio">Cardápio</a>

        <section class="introduction">
            <h2>Sobre Nós</h2>
            <p>Na Pizzaria Bonaiute, nossa paixão é servir pizzas deliciosas com ingredientes de alta qualidade.</p>
            <p>Explore nosso cardápio, faça um pedido, encontre nossa localização ou cadastre-se para receber nossas
                ofertas.</p>
            
            <h2>Sobre o Projeto</h2>
            <p>Projeto Web desenvolvido para disciplina de Desenvolvimento Web III da Faculdade de Tecnologia - FATEC Zona Sul.</p>
            <p>Genis Ferreira e Ronald Rodrigues</p>
            <p>Desenvolvemos um site para Pizzaria onde o cliente poderá visualizar o cardápio e montar sua pizza escolhendo entre os sabores disponíveis, tamanho, borda e ingredientes.</p>
            <p>O sistema calculará automaticamente os valores e apresentará a descrição das escolhas e valor do pedido.</p> 
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Pizzaria Bonaiute - Todos os direitos reservados.</p>
    </footer>
</body>

</html>