html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

main {
    flex: 1;
    text-align: center;
    padding: 30px;
}

header {
    background-color: #fc6b03;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.logo {
    width: 250px;
    height: 250px;
}

.hero {
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
}

.hero h2 {
    margin: 0;
    font-size: 2.5em;
}

.introduction {
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.introduction h2 {    
    margin-top: 70px;    
}

.botao {
    color: #fff;
    text-decoration: none;
    background-color: #fc6b03; 
    width: 130px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #555;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.menu-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    height: auto;
}

.menu-item h3 {
    margin: 0;
    padding: 10px;
    background-color: #e94e77;
    color: white;
}

.menu-item p {
    padding: 0 10px 10px;
    margin: 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #e94e77;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #d43f61;
}

.link{
    margin: 10px;
    font-size: 16px;
    color: #333;
}

#container-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#menu-escolhas {
    text-align: left;
    margin: 60px;
}

#pedido-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#pedidoContainer {
    display: flex;
    justify-content: center;
}

#pedidoDesc {
    margin: auto;
}

#pedido-descricao {
    text-align: center; 
}

#desc-container{
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(250, 230, 215);
    width: 250px;
    padding: 10px;
    margin: 20px;
}

.confirmacao{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.confirmacao-container{
    width: 800px;
    padding: 10px;
    margin: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(250, 230, 215);
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;  

}